@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao NextSerie</h1>

    <center style="padding-top:50px">
        <img class="d-block" style="width:40%" src="~/img/logo.png">
    </center>
    <p>Um projeto desenvolvido para disciplina Oficina.</p>
</div>
