@model string;

<script>
    window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(3000, function () {
            $(this).remove();
        });
    }, 2000);
</script>

<div class="alert alert-danger" role="alert">
    @Model
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>

