@{
    ViewData["Title"] = "Home";
}

<div class="container panel-login" style="border-radius: 15px; margin-top:10%">
    <div class="row h-80">
        <div class="col-sm-10 offset-sm-1">
            <center style="padding-top:50px">
                <img class="d-block" style="width:30%" src="~/img/logo.png">
                <h5>NextSerie</h5>
            </center>
        </div>
    </div>
</div>